<section id="about" class="pages" ng-swipe-left="go('/examples', 'slide')" ng-swipe-right="go('/','slide')">
	<div class="area">
		<h1>ABOUT ME</h1>
		<p class="lede"><strong>Hi there</strong>! My name is Ben and I enjoy dabbling in the end-to-end process of web development. When I'm not handcrafting the <strong>User Experience</strong>, or developing the <strong>front-end</strong>, you'll find me on the golf course <em>attempting</em> to shoot par. </p>
	</div>
	<hr class="vr">
	<div class="area">
		<h2>Education</h2>
		<ul class="education">
		 	<li class="degree"><strong>Human-Computer Interaction</strong></li>
		 	<li class="level"><em>Master's (In Progress)	</em></li>
			<li class="school">2015 / DePaul University</li>
		</ul>

		<ul class="education">
		 	<li class="degree"><strong>Graphic Design</strong></li>
		 	<li class="level"><em>Bachelor's</em></li>
			<li class="school">2006 / Southern Illinois University</li>
		</ul>
	</div>
	<hr class="vr">
	<div class="area">
		<h2>Experience</h2>
		<section class="experience">
			<ul class="job-header">
			 	<li class="job-title"><strong>Sr. User Experience Architect</strong></li>
			 	<li class="job-company"><em>Allstate, Northbrook</em></li>
			 	<li class="job-timeframe">(Oct. 2011 - Present)</li>
			</ul>

			<ul class="job-description">
			 	<li>Used my experience as a developer to bring the first responsive web site to life using HTML5/CSS3, RXJS and multiple JavaScript libraries</li>
			 	<li>Incorporated a technology and design background into the UX role and specialized in the User Interaction Engineer position</li>
				<li>Bridged the gap between designers, web developers and the UX team</li>
				<li>Collaboratively designed UI models, wireframes and interaction flows</li>
			 	<li>Presented wireframe walkthroughs with business partners and stakeholders, documented changes and incorporated into future design iterations</li>
				<li>Organized and conducted rapid contextual user sessions</li>
			</ul>

		</section>
		
		<section class="experience">
			<ul class="job-header">
			 	<li class="job-title"><strong>Web Developer</strong></li>
			 	<li class="job-company"><em>@properties, Chicago</em></li>
			 	<li class="job-timeframe">(Apr. 2009 - Oct. 2011)</li>
			</ul>

			<ul class="job-description">
			 	<li>Maintenance, configuration and development of both public facing and intranet web apps</li>
			 	<li>Large scale PHP development incorporating HTML/CSS and MySQL</li>
				<li>Worked on creating and maintaining database architecture to bring rich applications live</li>
				<li>Extensive experience with high traffic site maintenance and development</li>
			</ul>
		</section>

		<section class="experience">
			<ul class="job-header">
			 	<li class="job-title"><strong>Web Developer / Designer</strong></li>
			 	<li class="job-company"><em>Freelance</em></li>
				<li class="job-timeframe">(Oct. 2006 - Present)</li>
			</ul>

			<ul class="job-description">
			 	<li>Conceptualized branding design standards and developed websites for various clients</li>
			 	<li>Created low fidelity wireframes into high fidelity final web apps</li>
				<li>Continued upkeep and programming of websites following today’s evolving web standards</li>
				<li>Continued work on modularizing HTML5/CSS3 standards into my current front-end design practice to create a consistent User Interface (UI) and Visual Design (VD)</li>
			</ul>
		</section>
	</div>
</section>