
<div class="example-set fade" ng-repeat="example in examples" ng-show="example.visible" >
<nav class="slide-nav">
	<ul>
		<li ng-repeat="example in examples" ng-click="show(example.id)" ng-class="{active: $index == currentIndex}">{{example.id}}</li>
	</ul>
</nav>
	<div class="slide-container--examples">
		<div class="slide-animate--example">
			<img src="{{example.img}}" class="example-image" alt="Allstate Internal Wirefame"></img>
			<div class="example-info">
				<h5>{{example.header}}</h5>
				<p>{{example.description}}</p>
				<span ng-bind-html="example.html"></span>
			</div>
		</div>
	</div>
</div>